{% extends  'base.html' %}

{%load bootstrap4%}

{% load static %}

{%block content %}
<div class="container">
    <div class="row">
       

        <div class="col-md-7">
            <img src="{{ project.landingpage.url }}" alt="" width="100%" height="500px">
            <hr>
            <p>{{ project.description }}</p>
            
            <p>Rating forms</p>
        


        </div>
        <div class="col-md-5">
            <p>--COMMENTS HERE--</p>



        </div>

        
    </div>



</div>



{%endblock %}